mat-card {
    max-width: 400px;
    margin: 3em auto;
}

mat-form-field {
    display: block;
}

.info {
    color: silver;
    text-align: center;

    code {
        background-color: #f4f4f4;
        color: darkgray;
        padding: 0.25em 0.5em;
        border-radius: 5px;
    }
}
