<h2 mat-dialog-title>Joke #{{joke.id}}</h2>
<mat-dialog-content>
    <ng-container *ngTemplateOutlet="joke.type === 'single' ? single : twopart"></ng-container>
    <mat-chip>{{joke.category}}</mat-chip>
    <app-joke-flags [joke]="joke" [showALl]="true"></app-joke-flags>
    <h4 class="suggestion">Some jokes you could like:</h4>
    <app-jokes-list [jokes]="suggestions" [slim]="true"></app-jokes-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>

<ng-template #single>
    <p>{{joke.joke}}</p>
</ng-template>

<ng-template #twopart>
    <p>{{joke.setup}}</p>
    <p>{{joke.delivery}}</p>
</ng-template>
